.text13ng {
	font-family: "trebuchet MS";
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #402F0F;
	text-decoration: none;
	text-align: justify;
}
.text13ng1 {
	font-family: "trebuchet MS";
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #ECD9B8;
	text-decoration: none;
	text-align: justify;
}
.text18bb {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #5E4200;
	text-decoration: none;
}
.text15ng {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	color: #79581c;
	text-decoration: none;
}
.brd {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #79581C;
	text-decoration: none;
	background-color: #E2D2B0;
	border-top-color: #B89656;
	border-right-color: #B89656;
	border-bottom-color: #B89656;
	border-left-color: #B89656;
}
.text16 {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	color: #422E00;
	text-decoration: none;
}
.bdr2 {
	border: 2px solid #F5F0E7;
}

/*
     FILE ARCHIVED ON 07:59:00 Oct 05, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:36:21 Jul 25, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.559
  exclusion.robots: 0.041
  exclusion.robots.policy: 0.028
  esindex: 0.013
  cdx.remote: 16.746
  LoadShardBlock: 239.954 (3)
  PetaboxLoader3.resolve: 478.955 (4)
  PetaboxLoader3.datanode: 95.973 (4)
  load_resource: 377.992
*/